<nav class="w-full mb-4">
  <ul class="space-y-2 detached-breadcrumb">
    <li class="text-xs dark:text-white/80">Tables</li>
    <li class="text-xl font-semibold text-black dark:text-white">Editable</li>
  </ul>
</nav>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
  <div class="grid grid-cols-1 gap-4">
    <!-- editables.component.html -->
    <div class="card">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Table Editable</h2>
      <div class="overflow-auto">
        <caption class="caption-top">
          <span class="text-muted text-nowrap">Text Double Click To Edit Table.</span>
        </caption>
        <table class="min-w-[640px] w-full mt-4 table-hover">
          <thead>
            <tr class="ltr:text-left rtl:text-right">
              <th>#</th>
              <th>Name</th>
              <th>Title</th>
              <th>Phone No.</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td>{{ item.id }}</td>
              <td>
                <span *ngIf="!item.editing" (dblclick)="editItem(item, 'name')">{{ item.name }}</span>
                <input type="text" class="form-input" [(ngModel)]="item.name" *ngIf="item.editing" (keydown.enter)="item.editing = false">
              </td>
              <td>
                <span *ngIf="!item.editing" (dblclick)="editItem(item, 'title')">{{ item.title }}</span>
                <input type="text" class="form-input" [(ngModel)]="item.title" *ngIf="item.editing" (keydown.enter)="item.editing = false">
              </td>
              <td>
                <span *ngIf="!item.editing" (dblclick)="editItem(item, 'phone')">{{ item.phone }}</span>
                <input type="text" class="form-input" [(ngModel)]="item.phone" *ngIf="item.editing" (keydown.enter)="item.editing = false">
              </td>
              <td>
                <span *ngIf="!item.editing" (dblclick)="editItem(item, 'role')">{{ item.role }}</span>
                <select class="form-select" [(ngModel)]="item.role" *ngIf="item.editing" (keydown.enter)="item.editing = false">
                  <option>Admin</option>
                  <option>Owner</option>
                </select>
              </td>
              <td>
                <button class="text-danger ltr:ml-2 rtl:mr-2" (click)="removeItem(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-5 h-5">
                    <path fill="currentColor" d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                    </path>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
<!-- End All Card -->